.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 10%;
  height: auto;
}

.form-control {
  max-width: 400px;
  margin-bottom: 25px;
}

.input-group-text {
  max-height: 38px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-addon {
  cursor: pointer;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transform: translate(185px, -20px);
  z-index: 5;
  width: 440px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  border-radius: 10px;
}
