.Avatar {
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 380px;
  max-width: auto;
  border-radius: 10px;
  font-size: 0.45em;
  margin-top: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  padding-left: 15px;
  padding-right: 15px;
}

.infoAvatar {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.mailAvatar {
  margin-left: 15px;
  color: #0d6efd;
}
.Avatar:hover {
  background-color: #38b2ac;
  color: white;
}

img {
  cursor: pointer;
  width: 60px;
  height: 50px;
}
