.containercourses {
  height: auto;
  width: 90%;
  padding-left: 50px;
  padding-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(210px);
}

.ListCourses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5%;
  padding-right: 1%;
  padding-left: 5%;
  padding-bottom: 10%;
  height: auto;
}

.form-control {
  max-width: 400px;
  margin-bottom: 25px;
}

.input-group-text {
  max-height: 38px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addCourse {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#search-addon {
  cursor: pointer;
}
.avatarContainercourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transform: translate(345px, -20px);
  z-index: 5;
  width: 440px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  border-radius: 10px;
}
