.coursecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  padding: 35px 20px 20px 20px;
  margin: 18px;
  transition: 00.7s ease;
  border-radius: 10px;
  height: auto;
  width: 330px;
}

.coursename {
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.coursecard:hover {
  transform: scale(1.1);
}
.coursecard .info {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#course_picture {
  text-align: center;
  min-width: 90%;
  min-height: 150px;
  border-radius: 5px;
}

.category {
  margin-top: -20px;
  font-size: 0.85em;
}

.Description {
  font-size: 0.86em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  color: #000;
  cursor: pointer;
  width: 80%;
  margin-left: 30px;
}

.Enroll {
  width: 115px;
  font-size: 0.8em;
  height: 28px;
  border: none;
  background-color: #24953d;
  color: #fff;
  border-radius: 10px;
  margin-top: -27px;
  margin-left: 138px;
}

.previewtitlecourse {
  text-align: center;
  margin-left: 15%;
}

.coursePreview {
  width: 105px;
  font-size: 0.6em;
  height: 28px;
  border: none;
  background-color: #6c757d;
  color: #fff;
  border-radius: 10px;
  margin-left: -180px;
  margin-top: -28px;
}

.previewimgcourse {
  width: 350px;
  border-radius: 5px;
  height: 230px;
  margin-left: 11%;
}

.previewdescription {
  color: #000;
}

.price,
.price span {
  color: #85bb65;
  font-size: 1.2em;
  transform: translateX(-150px);
}
